*, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul, p {
    margin: 0;
    padding: 0;
}
.mb-zero {
    margin-bottom: 0 !important;
}
.mobile-hidden {
    @media (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
}
.tablet-hidden {
    @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
    }
}
button {
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 6px;
    cursor: pointer;
}
.main-container {
    max-width: 1920px;
    .inner-container {
        max-width: 1392px;
        @media (min-width: 320px) and (max-width: 1410px) {
            padding: 0 15px !important;
        }
    }

    h1.logo {
        width: 137px;
        height: 57px;
        margin: 0;
        a {
            width: 137px;
            height: 57px;
            display: block;
            text-indent: -9000px;
            background: url(../images/logo.svg);
        }
    }
    .buil-list {
        margin: 0 0 122px;
        @media (min-width: 320px) and (max-width: 767px) {
            margin: 0 0 48px;
        }
        .inner-container {
            padding: 0 105px;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-gap: 26px;
            }
            li {
                list-style: none;
                @media (min-width: 320px) and (max-width: 767px) {
                    margin: 0;
                    width: 140px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .mobile-menu-button {
        display: none;
        @media (min-width: 320px) and (max-width: 767px) {
            display: block;
            font-size: 26px;
            color: #fff;
            margin-right: 0;
        }
    }
    ul.menu {
        @media (min-width: 320px) and (max-width: 767px) {
            display: none;
            position: absolute !important;
            width: 160px;
            top: 50px !important;
            right: 0 !important;
            background: #2890e5;
            padding: 12px 0;
            box-shadow: 0px 14px 30px 0 rgba(54, 57, 73, 0.09);
            z-index: 10;
            border-radius: 6px;
        }
        li {
            list-style: none;
            display: inline-block;
            margin-right: 47px;
            &:last-child {
                margin: 0;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                display: block;
                margin: 0 0 12px;
                padding: 0 12px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                margin-right: 15px;
            }
            a {
                position: relative;
                color: #fff;
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                text-transform: capitalize;
                text-decoration: none;
                &:hover {
                    color: #FFBB00;
                    span.underline {
                        display: block;
                    }
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    line-height: 32px;
                }
                span.underline {
                    position: absolute;
                    bottom: -8px;
                    display: none;
                    border-bottom: 4px solid #FFBB00;
                    width: 60%;
                }
            }
            a.active {
                color: #FFBB00;
                span.underline {
                    display: block;
                }
            }
        }
    }

    ul.store-buttons {
        li {
            list-style: none;
            display: inline-block;
            margin-right: 16px;
            &:last-child {
                margin: 0;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                width: 130px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 190px;
            }
            a {
                display: block;
                text-decoration: none;
                img {
                    @media (min-width: 320px) and (max-width: 1023px) {
                        width: 100%;
                    }
                    &:hover {
                        box-shadow: 0 2px 8px 0 rgba(54, 57, 73, 0.09);
                    }
                }
            }
        }
    }

    header {
        position: relative;
        background: url(../images/header-bg.png) no-repeat;
        height: 933px;
        margin: 0 0 220px;
        background-position: bottom;
        background-position-y: -755px;
        @media (min-width: 320px) and (max-width: 767px) {
            height: 480px;
            padding: 15px 0 0;
            margin: 0 0 50px;
            background-position-y: -1100px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            height: 560px;
            padding: 15px 0 0;
            margin: 0 0 50px;
            background-position-y: -1100px;
        }
        @media (min-width: 1024px) and (max-width: 1410px) {
            height: 690px;
            margin: 0 0 120px;
            background-position-y: -1000px;
            padding: 25px 0 0;
        }
        .inner-container {
            padding: 48px 113px 0;
            position: relative;
        }
        .header-mobile {
            position: absolute;
            right: 58px;
            top: 155px;
            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 300px;
                height: 430px;
                right: 90px;
                top: 140px;
                img {
                    width: 100%;
                }
            }
            @media (min-width: 1024px) and (max-width: 1410px) {
                width: 380px;
                img {
                    width: 100%;
                }
            }
        }
        .header-menu {
            display: grid;
            grid-template-columns: 137px auto 160px;
            grid-gap: 60px;
            align-items: center;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 137px 1fr;
                grid-gap: 20px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-columns: 137px auto 110px;
                grid-gap: 20px;
            }
            button.get-app {
                border: none;
                background: #f8bb00;
                color: #fff;
                width: 160px;
                height: 50px;
                &:hover {
                    background: #dfa800;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    grid-row: 2;
                    grid-column: 1/3;
                    width: 135px;
                    height: 40px;
                    line-height: 40px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 110px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            ul.menu {
                justify-self: end;
                position: relative;
                top: -4px;
                @media (min-width: 768px) and (max-width: 1023px) {
                    top: initial;
                }
            }
        }
        .header-text {
            width: 598px;
            top: 341px;
            position: absolute;
            @media (min-width: 320px) and (max-width: 767px) {
                width: 290px;
                top: 155px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 330px;
                top: 180px;
            }
            @media (min-width: 1024px) and (max-width: 1410px) {
                width: 530px;
                top: 190px;
            }
            h2 {
                color: #fff;
                font-size: 57px;
                line-height: 86px;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
                margin: 0 0 24px;
                letter-spacing: 1px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0 0 16px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 26px;
                    line-height: 32px;
                    margin: 0 0 18px;
                }
                @media (min-width: 1024px) and (max-width: 1410px) {
                    font-size: 46px;
                    line-height: 60px;
                }
            }
            p {
                font-size: 15px;
                line-height: 30px;
                color: #fff;
                max-width: 468px;
                margin: 0 0 35px;
                letter-spacing: 2px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 12px;
                    line-height: 22px;
                    margin: 0 0 24px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 14px;
                    line-height: 22px;
                    margin: 0 0 24px;
                }
            }
            .buttons-list {
                display: grid;
                grid-template-columns: 160px 155px;
                grid-gap: 20px;
                @media (min-width: 320px) and (max-width: 767px) {
                    grid-template-columns: 140px;
                }
                button {
                    width: 100%;
                    border: none;
                    background: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 50px;
                    color: #fff;
                    cursor: pointer;
                    @media (min-width: 320px) and (max-width: 1023px) {
                        height: 42px;
                        line-height: 42px;
                        font-size: 14px;
                    }
                    span {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        position: relative;
                        border: 2px solid #f8bb00;
                        @media (min-width: 320px) and (max-width: 1023px) {
                            width: 42px;
                            height: 42px;
                            line-height: 42px;
                        }
                        i.fa {
                            line-height: 38px;
                            background: #f8bb00;
                            width: 38px;
                            height: 38px;
                            top: 50%;
                            left: 50%;
                            border-radius: 50%;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            @media (min-width: 320px) and (max-width: 1023px) {
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                            }
                        }
                    }
                }
                button.have-grid {
                    display: grid;
                    grid-gap: 14px;
                    grid-template-columns: 50px auto;
                    @media (min-width: 320px) and (max-width: 1023px) {
                        grid-template-columns: 42px auto;
                        grid-gap: 8px;
                    }
                }
                button.play-button {
                    &:hover {
                        span {
                            border-color: #fff;
                            i.fa {
                                background: #fff;
                                color: #f8bb00;
                            }
                        }
                    }
                }
                button.download-button {
                    border: 2px solid #fff;
                    border-radius: 8px;
                    height: 50px;
                    &:hover {
                        color: #2ea0ff;
                        background: #fff;
                    }
                    @media (min-width: 320px) and (max-width: 1023px) {
                        height: 42px;
                        line-height: 42px;
                    }
                }
            }
        }
    }

    .jd-section {
        padding: 130px 0 125px;
        text-align: center;
        @media (min-width: 320px) and (max-width: 767px) {
            padding: 40px 0 30px !important;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            padding: 50px 0 !important;
        }
        h2 {
            font-size: 40px;
            font-weight: 900;
            line-height: 53px;
            margin-bottom: 15px;
            letter-spacing: 1px;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 28px;
                line-height: 34px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 34px;
                line-height: 42px;
            }
        }
        p {
            max-width: 537px;
            font-size: 16px;
            line-height: 30px;
            margin: 0 auto;
            margin-bottom: 43px;
            @media (min-width: 320px) and (max-width: 1023px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 70px auto;
            grid-gap: 27px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-template-rows: 50px 50px auto;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-rows: 60px auto;
            }
            input, textarea {
                padding: 0 30px;
                height: 70px;
                line-height: 70px;
                width: 100%;
                background: #fbfbf8;
                border-radius: 8px;
                border: none;
                font-size: 16px;
                color: #CCCCCC;
                &:focus {
                    border: none;
                    outline: none;
                    background: #f6f6f1;
                }
                &::placeholder {
                    color: #cccccc;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    height: 50px;
                    line-height: 50px;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    height: 60px;
                    line-height: 60px;
                }
            }
            textarea {
                height: 233px;
                line-height: 24px;
                padding: 25px 30px;
                grid-column: 1/3;
                @media (min-width: 320px) and (max-width: 767px) {
                    grid-column: 1/2;
                }
            }
            button {
                width: 220px;
                height: 60px;
                color: #fff;
                background: #1896ff;
                justify-self: center;
                border: none;
                outline: none;
                grid-column: 1/3;
                &:hover {
                    background: #1378cc;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    grid-column: 1/2;
                    width: 135px;
                    height: 45px;
                    line-height: 45px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 175px;
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
        .phone-section {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            margin: 0 0 92px;
            grid-gap: 30px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 170px;
                justify-content: center;
                grid-gap: 35px;
                margin: 0 0 25px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-columns: repeat(3, 222px);
                justify-content: center;
                grid-gap: 35px;
                margin: 0 0 25px;
            }
            img {
                @media (min-width: 320px) and (max-width: 1410px) {
                    width: 100%;
                }
            }
        }
        .application-statistics {
            padding: 35px 0;
            background: url(../images/application-statistics-bg.svg) no-repeat;
            background-position: center;
            max-width: 1048px;
            @media (min-width: 320px) and (max-width: 1023px) {
                padding: 35px 0 0;
            }
            .applications-result {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 30px;
                @media (min-width: 320px) and (max-width: 767px) {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 25px;
                }
                div.single-item {
                    width: 100%;
                }
                h2, p {
                    width: 100%;
                }
                h2 {
                    font-size: 40px;
                    line-height: 53px;
                    color: #3096FE;
                    @media (min-width: 320px) and (max-width: 767px) {
                        font-size: 24px;
                        line-height: 34px;
                        margin: 0 0 5px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        font-size: 30px;
                        line-height: 32px;
                        margin: 0 0 5px;
                    }
                }
                p {
                    line-height: 33px;
                    font-size: 25px;
                    font-weight: 500;
                    color: #333333;
                    margin: 0;
                    @media (min-width: 320px) and (max-width: 767px) {
                        line-height: 26px;
                        font-size: 18px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        line-height: 26px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .jd-section.contact-us {
        .inner-container {
            max-width: 1170px;
            margin: 0 auto;
        }
    }
    .jd-section.application-screens {
        padding-bottom: 84px;
    }

    .features-section {
        margin: 0 0 100px;
        position: relative;
        @media (min-width: 320px) and (max-width: 1023px) {
            margin: 0 0 50px;
        }
        span.bg-dots {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        .inner-container {
            display: grid;
            grid-template-columns: 567px 570px;
            max-width: 1309px;
            grid-gap: 105px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 1fr;
                grid-gap: 45px;
                align-items: center;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-columns: 1fr 3.5fr;
                grid-gap: 70px;
                align-items: center;
            }
            @media (min-width: 1024px) and (max-width: 1410px) {
                grid-template-columns: 360px auto;
                grid-gap: 60px;
                align-items: center;
            }
        }
        .feature-img {
            width: 100%;
            margin: 0;
            text-align: center;
            background: url(../images/section-mobile-bg.svg);
            @media (min-width: 320px) and (max-width: 767px) {
                background-position: center;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 220px;
            }
            .mobile-img {
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 130px;
                }
                img {
                    @media (min-width: 320px) and (max-width: 1023px) {
                        width: 100%;
                    }
                }
            }
        }
        .feature-text {
            padding-top: 62px;
            @media (min-width: 320px) and (max-width: 1410px) {
                padding: 0;
            }
            span {
                width: 87px;
                height: 30px;
                display: inline-block;
                font-size: 14px;
                line-height: 30px;
                color: #FFBB00;
                text-align: center;
                background: #FDF3D7;
                border-radius: 8px;
                margin: 0 0 16px;
            }
            h2 {
                max-width: 520px;
                font-size: 40px;
                font-weight: 900;
                line-height: 53px;
                margin: 0 0 27px;
                letter-spacing: 0.8px;
                @media (min-width: 320px) and (max-width: 1023px) {
                    font-size: 24px;
                    line-height: 34px;
                    margin: 0 0 20px;
                }
            }
            p {
                font-size: 16px;
                line-height: 30px;
                margin: 0 0 36px;
                color: #8A8A8A;
                @media (min-width: 320px) and (max-width: 1023px) {
                    grid-template-columns: 1fr;
                    grid-gap: 45px;
                    font-size: 14px;
                    line-height: 24px;
                    margin: 0 0 25px;
                }
            }
        }
        .features-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-gap: 20px 8px;
            }
            .single-feature {
                display: grid;
                grid-template-columns: 45px auto;
                grid-gap: 18px;
                @media (min-width: 768px) and (max-width: 1023px) {
                    grid-template-columns: 35px auto;
                    grid-gap: 10px;
                }
                .f-icon {
                    width: 45px;
                    height: 45px;
                    background: #fcf3d3;
                    color: #FFBB00;
                    border-radius: 8px;
                    display: grid;
                    align-items: center;
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 35px;
                        height: 35px;
                    }
                }
                .f-data {
                    h2 {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: 900;
                        margin: 0 0 10px;
                        @media (min-width: 768px) and (max-width: 1023px) {
                            font-size: 18px;
                        }
                    }
                    p {
                        color: #8A8A8A;
                        font-size: 14px;
                        line-height: 20px;
                        margin: 0;;
                    }
                }
            }
        }
    }
    .features-section.features-section-colored {
        background: #fcfcf9;
        padding: 104px 0 79px;
        @media (min-width: 320px) and (max-width: 1023px) {
            padding: 34px 0;
        }
        .inner-container {
            grid-template-columns: 720px 603px;
            grid-gap: 55px;
            max-width: 1376px;
            @media (min-width: 320px) and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-columns: 1.4fr 1fr;
                grid-gap: 50px;
            }
            @media (min-width: 1024px) and (max-width: 1410px) {
                grid-template-columns: auto 360px;
                grid-gap: 70px;
            }
        }
        .feature-img {
            background: none;
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 278px;
            }
            img {
                @media (min-width: 768px) and (max-width: 1410px) {
                    width: 100%;
                }   
            }
        }
        .feature-text {
            padding-left: 105px;
            padding-top: 26px;
            @media (min-width: 320px) and (max-width: 1410px) {
                padding: 0;
            }
        }
    }

    .banner-section {
        height: 550px;
        background: url(../images/banner-bg.svg) no-repeat;
        overflow: hidden;
        background-position: center;
        @media (min-width: 320px) and (max-width: 1023px) {
            padding: 20px 0;
            height: initial;
        }
        .inner-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 100px;
            align-items: center;
            height: 100%;
            letter-spacing: 1px;
            @media (min-width: 320px) and (max-width: 1023px) {
                grid-template-columns: 1fr;
                align-items: start;
                grid-gap: 25px;
            }
        }
        .banner-text {
            padding-left: 112px;
            @media (min-width: 320px) and (max-width: 1410px) {
                padding: 0;
            }
            h2 {
                font-size: 50px;
                line-height: 66px;
                font-weight: bold;
                color: #fff;
                margin: 0 0 27px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 24px;
                    line-height: 34px;
                    margin: 0 0 24px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 38px;
                    line-height: 48px;
                }
            }
            p {
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin: 0px 0 37px;
                max-width: 650px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }

    footer {
        padding: 60px 0 55px;
        height: 300px;
        background: url(../images/footer-bg.svg) no-repeat;
        @media (min-width: 320px) and (max-width: 767px) {
            height: initial;
            padding: 30px 0;
            background-size: cover;
        }
        @media (min-width: 767px) and (max-width: 1023px) {
            padding: 45px 0;
            height: 278px;
        }
        .inner-container {
            padding: 0 113px 0;
        }
        h1.logo {
            margin: 0 auto 30px;
        }
        ul {
            text-align: center;
        }
        ul.menu {
            margin-bottom: 38px;
            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
        }
        ul.social-menu {
            li {
                list-style: none;
                display: inline-block;
                margin-right: 6px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    background: #41a9ff;
                    text-align: center;
                    display: grid;
                    align-items: center;
                    font-size: 18px;
                    &:hover {
                        color: #41a9ff;
                        background: #fff;
                    }
                }
            }
        }
    }
}